.linkNavbar {
  color: white;
}

.backgroundHome {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-image: url("./assets/tagsPattern.png");
  background-size: 100px;
  background-position: center;
  background-repeat: repeat;
  z-index: -1;
  opacity: 0.5;
}

.banderaLang {
  cursor: pointer;
}

/* --------------- NAVBAR --------------- */

.listSideNavbar {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px !important;
  gap: 20px;
}

.listSideNavbar > a {
  font-size: var(--letraMediana);
  color: var(--azulOscuro);
}

/* -------------- ABOUT-US ------------  */

.aboutusDragArea {
  width: 100%;
  height: 80%;
  position: absolute;
  display: "flex";
  justify-content: center;
  align-items: center;
}

.aboutusDraggableDiv {
  width: 40%;
  max-width: 500px;
  min-height: 250px;
  position: relative;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.aboutusTitle {
  font-size: var(--letraGrande);
  font-weight: bold;
  color: var(--blanco);
  text-transform: uppercase;
  margin: 5% 0;
}

.aboutusText {
  line-height: 2rem;
  text-align: justify;
  color: var(--blanco);
  font-weight: bold;
  font-size: var(--letraPequeña);
}

/* ----------------- OUR PRODUCTS ------------------ */

.productsSectionTitle {
  font-size: var(--letraGrande);
  margin: 20px 0;
}

.productsCardContainer {
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  align-items: center;
}

.productsCard {
  width: max-content;
  height: max-content;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 350px;
  height: 200px;
  justify-content: center;
  align-items: center;
}

.productTitulo {
  /* background-color: red; */
  color: var(--blanco);
  text-decoration: underline;
  font-size: var(--letraGrande);
  text-align: center;
  margin: 0 0 10px 0;
}

.productImage {
  display: flex;
  align-items: center;
  justify-content: center;
}

.productImage > img {
  width: 250px;
}

img#Indubatch {
  filter: contrast(0);
  width: 100%;
  filter: brightness(100);
}

.productModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--azulOscuro);
}

.productTituloModal {
  font-size: var(--letraGrande);
  text-align: center;
  /* color: var(--azulOscuro); */
  font-weight: bold;
}
.productImageModalContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--azulOscuro);
  margin: 10px 0;
  border-radius: 10px;
}

.productImageModal {
  padding: 15px;
}

/* ----------- OUR CLIENTS ------------ */

.clienstLateral {
  width: 10%;
  background-color: var(--azulClaro);
  height: 80vh;
  position: absolute;
  z-index: -1;
}

.clientsBackground1 {
  border-radius: 0 10px 10px 0px;
  left: 0;
}

.clientsBackground2 {
  right: 0;
  border-radius: 10px 0 0 10px;
}

.clientsTitulo {
  text-align: center;
  font-size: 2rem;
  margin: 20px 0;
}

.clientsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.clienteImgContainer {
  width: 150px;
  margin-top: 20px;
}

.clienteImgContainer > img {
  width: 150px;
}

/* --------------- CONTACT US -------------- */

.contactusTitle {
  font-size: 2rem;
  margin: 20px 0;
}

.contactoInfoInfo {
  display: flex;
  flex-direction: column;
  line-height: 2rem;
  justify-content: center;
  align-items: center;
}

.contactoLinkCorreo {
  text-decoration: none;
  color: var(--azulOscuro);
}

/* ---------------- FOOTER -------------- */

.footer {
  height: 40px;
  position: fixed;
  bottom: 15px;
  left: 15px;
  width: 20%;
  min-width: 200px;
  transition: 0.3s ease all;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: var(--blanco);
}

.footer.bottom {
  width: 100%;
  bottom: 0;
  border-radius: 0px;
  left: 0;
}

@media screen and (max-width: 900px) {
  .navbar {
    top: 0px !important;
    right: 0 !important;
    width: 100% !important;
    border-radius: 0 !important;
  }
  .navbarLinks {
    display: none !important;
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    width: 30px;
    height: 30px;
    border: 0;
    background: transparent;
    gap: 30%;
    cursor: pointer;
  }

  .hamburger > div {
    background-color: var(--azulOscuro);
    height: 2px;
    width: 100%;
    border-radius: 5px;
    transition: all 0.5s ease;
    transform-origin: right;
  }

  .hamburger.white > div {
    background-color: var(--blanco) !important;
  }

  .open > div:first-child {
    transform: rotate(-45deg);
  }
  .open > div:nth-child(2) {
    opacity: 0;
  }
  .open > div:last-child {
    transform: rotate(45deg);
  }

  #aboutUs {
    height: max-content !important;
  }

  .aboutusDragArea {
    height: 60%;
  }

  #imagenProcesos {
    display: none !important;
  }

  .aboutusDraggableDiv {
    width: 100%;
    margin-bottom: 20px !important;
  }

  #ourProducts {
    height: max-content !important;
    margin: 30px 0;
  }

  .productsCard {
    width: 250px;
  }

  .productImage > img {
    width: 150px;
  }

  .productImageModalContainer > img {
    width: 250px;
  }
}
